* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

html, body, #root {
    
    height: 100%;
}

.app {
    padding: 15px;
    padding-top: 50px;
    background-image: url('../../assets/trello-second-bg.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
}